.BestSellerItem {
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.Image {
  width: 50%;
  height: 100%;
  transition: transform 0.4s;
}

.Image:hover {
  transform: scale(1.1);
}

.Info {
  margin-left: 10px;
}
