.Modal {
  position: fixed;
  z-index: 500;
  background-color: white;
  color: #000;
  width: 60%;
  height: auto;
  border: 1px 1px 1px black;
  padding: 16px;
  left: 20%;
  top: 20%;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
}
